
*.cache
*.ide
*.ide-wal
C# Code/ZusterNikki/.vs/ZusterNikki/v15/.suo
C# Code/ZusterNikki/.vs/ZusterNikki/v15/Server/sqlite3/storage.ide-wal
C# Code/ZusterNikki/.vs/ZusterNikki/v15/Server/sqlite3/storage.ide-wal
C# Code/ZusterNikki/ZusterNikki/obj/Debug/ZusterNikki.csproj.CoreCompileInputs.cache
C# Code/ZusterNikki/.vs/ZusterNikki/v15/Server/sqlite3/storage.ide
C# Code/ZusterNikki/.vs/ZusterNikki/v15/.suo
